<%- include('../views/header.ejs',{page: 'about'}) %>

<div class="nice">

</div>

<div class="nice">
 
  <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Pokemon and Pokemon Trading Cards</title>
</head>
<body>
    <header>
        <h1>About Pokemon and Pokemon Trading Cards</h1>
    </header>
    <main>
        <section>
            <h2>What are Pokemon?</h2>
            <p>Pokémon, short for "Pocket Monsters", are creatures that inhabit the Pokémon world. They come in various shapes, sizes, and types, and are often captured and trained by Pokémon Trainers for battles and competitions.</p>
        </section>
        <section>
            <h2>What are Pokemon Trading Cards?</h2>
            <p>Pokemon Trading Cards, often abbreviated as "TCG" (Trading Card Game), are collectible cards based on the Pokémon franchise. Players use these cards to build decks and compete against each other in battles, similar to the Pokémon battles in the video games.</p>
        </section>
        <section>
          <h2>What is this website?</h2>
          <p>This website allows you to browse Pokemon Cards and Create a Collection of Pokemon Cards that others can comment on and like!.</p>
      </section>
    </main>

</div>

<%- include('footer') %>